<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <title>HomePage</title>

</head>

<body>
{% if user.is_authenticated %}
    Hello {{ request.user }}
    <br>
    <a href='{% url 'company_dashboard' %}'> Dashboard </a>
    {% else %}
        <a href='{% url 'register' %}'>Register Your company</a>
        <br>
        <a href='{% url 'login' %}'>Login </a>
{% endif %}
</body>

</html>